beautifulsoup4==4.12.2
connexion==2.14.2
Flask==2.2.5
flask_cors==4.0.0
flask_limiter==3.5.0
flask_sqlalchemy==3.1.1
gender_guesser==0.4.0
geopandas==0.13.2
google-cloud-bigquery
Markdown==3.4.1
matplotlib==3.7.1
mne_connectivity==0.5.0
nltk==3.8.1
numpy==1.24.3
openpyxl
pandas==1.5.3
Pillow==10.1.0
protobuf==4.24.4
psycopg2==2.9.9
pytest==7.4.0
python-dotenv==1.0.0
reportlab==4.0.5
Requests==2.31.0
sankeyflow==0.3.8
seaborn==0.13.0
spacy==3.7.2
SQLAlchemy==2.0.16
textblob==0.17.1
textstat==0.7.3
wordcloud==1.9.2

shapely~=2.0.2