
.label_settings{
 font-weight: 500;
}

#btnViewDetailsInfoBox{
    cursor: pointer;
    color: black;
}
#btnViewDetailsInfoBox:hover {
    color: #333333;
    background-color: white;
}

#label_View_Details{
    cursor: pointer;
    color: black;
}
#label_View_Details:hover {
    color: #333333;
    background-color: white;
}

#label_Assessment_question{
    cursor: pointer;
    color: gray;
}
#label_Assessment_question:hover {
    color: black;
}

#label_Funders_question{
    cursor: pointer;
    color: gray;
}
#label_Funders_question:hover {
    color: black;
}

#label_Institutions_question{
    cursor: pointer;
    color: gray;
}
#label_Institutions_question:hover {
    color: black;
}

#label_Beneficiaries_question{
    cursor: pointer;
    color: gray;
}
#label_Beneficiaries_question:hover {
    color: black;
}

.text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}

.table_ICS{
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    font-size: 0.9em; 
    clear: both;
}
.table_ICS td th {
    min-width:200px;       
}

.infoBoxMapGlobal {
    padding: 6px 4px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}       

.infoBoxUKmap {
    padding: 6px 4px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.infoBoxUKmap_info ul{
    list-style-type: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px
}

.btn-circle {
    position: absolute;
    top: 0.15rem;
    right: 0.15rem;    
    width: 18px;
    height: 18px;
    padding: 0px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
}

.btn-clipboard {
    position: absolute;
    top: 0.15rem;
    right: 0.15rem;
    z-index: 10;
    display: block;
    padding: 0.16rem 0.5rem;
    font-size: .8em;
    color: #888;
    background-color: #fff;
    border: 1px solid;
    border-radius: 15px;
}         

.infoboxSelectedUKmap {
    padding: 6px 4px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.infoboxSelectedUKmap_info_text ul{
    list-style-type: none;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 2px
}        


#legend_UKmap_info {
    line-height: 14px;
    color: #333333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 2px 4px;
    background: white;
    background: rgba(255,255,255,0.91);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    float: left;
    /*    z-index: 8000 !important;*/
}  

#legend_mapGlobal_info {
    line-height: 14px;
    color: #333333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 2px 4px;
    background: white;
    background: rgba(255,255,255,0.91);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    float: left;
    /*    z-index: 8000 !important;*/
}   

#map_uk {
    width: 100%;
    height: 100%;
}            

#map_global {
    width: 100%;
    height: 100%;
} 
.leaflet-control-zoom a{
    box-shadow: 0 1px 2px rgba(0,0,0,0.65); 
    margin-top: 0px;
}

.leaflet-touch .leaflet-bar a{
    width: 20px;
    height: 20px;
    line-height: 20px
}

.scrollarea {
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100vh - 8rem);
}

#idTopics li:hover {
    cursor: pointer;
    background-color: #6994bc;
}        

.list-group-item li:hover {
    text-decoration: none;
    background-color: #6994bc;
    border: 1px solid #2c3e50;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #325d8c;
    border-color: #2c3e50;
}

.list-group-item.disabled {
    z-index: 2;
    color: #6c757d;
    background-color: #002147;
    border: 1px solid #0b2543;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.3rem 1rem;
    color: #fff;
    text-decoration: none;
    background-color: #002147;
    border: 1px solid #0b2543;
}

.text-bg-dark-navy {
  color: #fff !important;
  background-color: #002147 !important;
}

.bg-dark-navy {
    --bs-bg-opacity: 1;
    background-color: #002147 !important;
}

.sb-sidenav-dark-navy {
    background-color: #002147 !important;
    color: rgba(255, 255, 255, 0.5);
}

.sb-sidenav-dark-navy-footer {
    background-color: #325d8c !important;
    color: rgba(255, 255, 255, 0.8);
}

.sb-sidenav-dark-navy-footer a{
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
}

.logo-section img {
    margin-top: 0.0rem !important;
    height: 60px;
    margin: auto;    
    display: block;    
    /*   width: 220px;
       margin: auto;    
       display: block;*/

}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track 
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
*/

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}  

.card, .card-header, .card-body, .card-footer{
    border-radius:0px !important;
}      


.goal-chart-wrapper {
    width: 100%;
    min-height: 50px;
    position: relative;

    .goal-chart {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}            

.TopicsWrapper::-webkit-scrollbar {
    display: block;
    width: 10px;
}
.TopicsWrapper::-webkit-scrollbar-track {
    background: transparent;
}

.TopicsWrapper::-webkit-scrollbar-thumb {
    background-color: #010f21;
    border-right: none;
    border-left: none;
}

.TopicsWrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-right: none;
    border-left: none;
}

.TopicsWrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 0px;

}

.TopicsWrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 0px;
}

#firstloader { 
    position: fixed; 
    left: 0px; 
    top: 50px; 
    width: 100%; 
    height: 100%; 
    z-index: 9999!important; 
    background: url('../img/firstloader.gif') 50% 30% no-repeat rgba(245,245,245,0.89); 
    background-size: 85px 85px; 
} 

#dv_startup {
    font-size: 0.9rem;
}

#dv_startup h1{
    font-size: 16px;
}

#contectforViewDetailsInfoBox {
    font-size: 12px;
}        

#contectforViewDetailsInfoBox h1,h2,h3{
    font-size: 16px;
}       